In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
import selenium
import os
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time 
#import the needed libraries

In [2]:
df = pd.read_csv("fed-funds-rate-historical-chart.csv")
#import the file we will use.
#got it from macrotrends.com

In [3]:
df
#see our dataframe

            date   value
0       7/1/1954    1.13
1       7/2/1954    1.25
2       7/3/1954    1.25
3       7/4/1954    1.25
4       7/5/1954    0.88
...          ...     ...
24285  2/20/2022     NaN
24286  2/21/2022     NaN
24287  2/22/2022     NaN
24288  2/23/2022     NaN
24289  2/24/2022     NaN

[24290 rows x 2 columns]

In [4]:
df['date'] = pd.to_datetime(df['date'],format='%m/%d/%Y')
#change the date to datetime format

In [5]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['day'] = pd.DatetimeIndex(df['date']).day
#obtain the columns year,month,day from the datetime

In [6]:
df.drop(df[df.year > 2021].index, inplace=True)
#drop any interest rate after 2021

In [7]:
df.drop(df[df.year < 2020].index, inplace=True)
#drop any interest rate  before 2020

In [8]:
df.keys()

Index(['date', ' value', 'year', 'month', 'day'], dtype='object')

In [9]:
df = df.rename({' value': 'interest_rate'}, axis=1)  # new method
#rename the columns

In [10]:
df = df.drop(["date"],axis=1)
#drop date because we already divided it in day,month,year

In [14]:
df = df.iloc[:, [1,2,3,0]]
#organize the df columns in the order we want

In [15]:
df
#last view of our df

       year  month  day  interest_rate
23741  2020      1    2           1.55
23742  2020      1    3           1.55
23743  2020      1    6           1.55
23744  2020      1    7           1.55
23745  2020      1    8           1.55
...     ...    ...  ...            ...
24241  2021     12   27           0.08
24242  2021     12   28           0.08
24243  2021     12   29           0.08
24244  2021     12   30           0.08
24245  2021     12   31           0.07

[505 rows x 4 columns]

In [16]:
df.to_csv('fed_clean.csv',encoding='utf-8-sig',index=False)