In [1]:
import pymongo 
import pandas as pd
from pandas.errors import MergeError

In [2]:
cliente=pymongo.MongoClient()  # llamar a la clase MongoClient

db=cliente.oro            # crear una base de datos

In [3]:
cliente.list_database_names()

['admin', 'companies', 'config', 'gold', 'local', 'oro', 'ufo']

In [4]:
colec1=db.interest_fed

In [5]:
colec2=db.gold_price

In [6]:
colec3=db.gold_news

In [7]:
db.list_collection_names()

['gold_price', 'interest_fed', 'gold_news']

In [8]:
colec1.drop()
colec2.drop()
colec3.drop()

In [9]:
df1 = pd.read_csv("fed_clean.csv")

In [10]:
df2 = pd.read_csv("gold_clean.csv")

In [11]:
df3 = pd.read_csv("news_clean.csv")

In [12]:
df1_mongo_dict = df1.to_dict(orient="records")

In [13]:
df2_mongo_dict = df2.to_dict(orient="records")

In [14]:
df3_mongo_dict = df3.to_dict(orient="records")

In [15]:
colec1.insert_many(df1_mongo_dict)

In [16]:
colec2.insert_many(df2_mongo_dict)

In [17]:
colec3.insert_many(df3_mongo_dict)

In [18]:
db.list_collection_names()

['gold_price', 'gold_news', 'interest_fed']

In [19]:
aa = list(colec1.find({"$and": [{"year": 2020, "month": 10,"day":2}
                               ]},{"_id":0,"year":1,"month":1,"day":1,"interest_rate":1}))
aa
#note: the $and second key goes out.
#we do this so we dont get the ID and only the values we need for the query.
#aa, bb and cc are for practicin the functions below

[{'year': 2020, 'month': 10, 'day': 2, 'interest_rate': 0.09}]

In [20]:
bb = list(colec2.find({"$and":[{"year": 2020, "month": 10,"day":2}
                               ]},{"_id":0,"year":1,"month":1,"day":1,"gold_price":1}))
bb
#aa, bb and cc are for practicin the functions below

[{'year': 2020, 'month': 10, 'day': 2, 'gold_price': 1898.868}]

In [21]:
cc = list(colec3.find({"$and":[{"year": 2020, "month": 10,"day":2}
                               ]},{"_id":0,"year":1,"month":1,"day":1,"title":1,"url":1}))
cc
#aa, bb and cc are for practicin the functions below

[{'year': 2020,
  'month': 10,
  'day': 2,
  'url': 'https://www.reuters.com/article/global-precious/precious-gold-holds-1900-level-on-trump-covid-news-set-for-best-week-in-8-idUSL4N2GT2AK'},
 {'year': 2020,
  'month': 10,
  'day': 2,
  'url': 'https://www.reuters.com/article/global-precious/precious-gold-gains-after-trump-tests-positive-for-coronavirus-idUSL4N2GT1AM'},
 {'year': 2020,
  'month': 10,
  'day': 2,
  'url': 'https://www.reuters.com/article/global-precious/precious-gold-extends-gains-after-trump-tests-positive-for-covid-19-idUSL4N2GT0B9'}]

In [22]:
def fecha():
    year = int(input("Coloque el año:"))
    month = int(input("Coloque el mes:"))
    day =  int(input("Coloque el dia:"))
    if year not in [2020,2021] or day not in list(range(1,32)) or month not in list(range(1,13)):
        return "Haz cometido un error al introducir alguno de los datos, por favor revise :)"
    a =list(colec1.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    c =list(colec3.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    bb = pd.DataFrame(b).drop(["_id"],axis=1)
    if a:
        aa = pd.DataFrame(a).drop(["_id"],axis=1)
        bb =pd.merge(aa,bb, how = "left")
    if c:
        cc = pd.DataFrame(c).drop(["_id"],axis=1)
        bb =pd.merge(bb,cc, how = "left")

    return bb

In [23]:
"""
def fecha_v1():
    year = int(input("Coloque el año:"))
    month = int(input("Coloque el mes:"))
    day =  int(input("Coloque el dia:"))
    a =list(colec1.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    c =list(colec3.find({"$and":[ {"year": year, "month": month,"day":day}]}))
    if a and b and c:
        aa = pd.DataFrame(a).drop(["_id"],axis=1)
        bb = pd.DataFrame(b).drop(["_id"],axis=1)
        cc = pd.DataFrame(c).drop(["_id"],axis=1)
        base =pd.merge(aa,bb, how = "left")
        base =pd.merge(base,cc, how = "left")
        return base
    elif not a and not c:
        bb = pd.DataFrame(b).drop(["_id"],axis=1)
        return bb
    elif b and c:
        b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))
        c =list(colec3.find({"$and":[ {"year": year, "month": month,"day":day}]}))
        cc = pd.DataFrame(c).drop(["_id"],axis=1)
        bb = pd.DataFrame(b).drop(["_id"],axis=1)
        base =pd.merge(bb,cc, how = "left")
        return base
    elif b and a:
        a =list(colec1.find({"$and":[ {"year": year, "month": month,"day":day}]}))
        b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))
        aa = pd.DataFrame(a).drop(["_id"],axis=1)
        bb = pd.DataFrame(b).drop(["_id"],axis=1)
        base =pd.merge(aa,bb, how = "left")
        return base
        """
#la primera version de la funcion

'\ndef fecha_v1():\n    year = int(input("Coloque el año:"))\n    month = int(input("Coloque el mes:"))\n    day =  int(input("Coloque el dia:"))\n    a =list(colec1.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n    b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n    c =list(colec3.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n    if a and b and c:\n        aa = pd.DataFrame(a).drop(["_id"],axis=1)\n        bb = pd.DataFrame(b).drop(["_id"],axis=1)\n        cc = pd.DataFrame(c).drop(["_id"],axis=1)\n        base =pd.merge(aa,bb, how = "left")\n        base =pd.merge(base,cc, how = "left")\n        return base\n    elif not a and not c:\n        bb = pd.DataFrame(b).drop(["_id"],axis=1)\n        return bb\n    elif b and c:\n        b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n        c =list(colec3.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n        cc = pd.DataFrame(c).drop(["_id"],axis=1)\n        bb = pd.DataFrame(b).drop(["_id"],axis=1)\n        base =pd.merge(bb,cc, how = "left")\n        return base\n    elif b and a:\n        a =list(colec1.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n        b =list(colec2.find({"$and":[ {"year": year, "month": month,"day":day}]}))\n        aa = pd.DataFrame(a).drop(["_id"],axis=1)\n        bb = pd.DataFrame(b).drop(["_id"],axis=1)\n        base =pd.merge(aa,bb, how = "left")\n        return base\n        '

In [26]:
fecha()

Coloque el año:2020
Coloque el mes:10
Coloque el dia:10

   year  month  day  gold_price
0  2020     10   10    1929.618